.page-wrapper{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
// Header
.header-container{
    width: 100%;
    display: contents;
    justify-items: center;
    .header{
        text-align: center;
        font-family: "Press Start 2P";
        margin: 20px 0px -20px 0px;
        font-size: 48px;
        font-weight: 400;
        line-height: 72px; /* 150% */
        letter-spacing: -1.44px;
    }
    .paragraph{
        margin: 0;
        color: var(--paragraph-color);
        font-size: 16px;
        font-weight: 700;
        line-height: 32px; /* 152.381% */
    }
}
// Hero
.hero-wrapper{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 16px;
    border: 0.667px solid var(--glass-border);
    background: var(--glass-bg);
    box-shadow: var(--neon-shadow);
    .hero{
        width: 65%;
        opacity: 0.4;
        background: url(https://images/hero.png) lightgray 50% / cover no-repeat;
        border-radius: var(--border-radius);
        border: 2px solid var(--neon-border);
        background: linear-gradient(180deg, #121218 0%, #1F1F28 100%);
    }
    .play-btn{
        cursor: pointer;
        font-family: "Roboto Mono";
        display: flex;
        border: none;
        width: 105px;
        height: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: var(--border-radius);
        background: var(--button-gradient);
        box-shadow: var(--neon-shadow);
    }
    .leaderboard-btn{
        cursor: pointer;
        font-family: "Roboto Mono";
        display: flex;
        border: none;
        width: 105px;
        height: 50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: var(--border-radius);
        background: var(--leaderboard-button);
        color: var(--white-color);        
        box-shadow: var(--neon-shadow);
    }
}
// Details
.detail-wrapper{
    width: 100%;
    display: flex;
    padding: 80px 0 84px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    .title-wrapper{
        justify-items: center;
        align-items: flex-start;
        flex-shrink: 0;
        align-self: stretch;
    }
    .title{
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; /* 111.111% */
        letter-spacing: -0.36px;
    }
    .card-wrapper{
        display: grid;
        align-self: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .card{
        display: flex;
        align-items: flex-start;
        padding: 24.6px;
        background-color: var(--card-color); 
        border-radius: var(--border-radius);
        border: 2px solid var(--neon-border);
        gap: 16px;
        &:hover{
            transition: all 0.05s ease-in-out;
            box-shadow: var(--neon-shadow);
            border: 2px solid var(--neon-border-active);
        }
        .icon{
            display: flex;
            width: 48px;
            height: 48px;
            justify-content: center;
            align-items: center;
            margin-top: 14px;
            border-radius: var(--border-radius);
            background: var(--button-gradient);
            box-shadow: var(--neon-shadow);
            flex-shrink: 0;
        }
        .h3{
            margin-top: 14px;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px; /* 140% */
        }
        .card-content{
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
}
// Carousel
.carousel-wrapper{
    display: inline-flex;
    align-items: center;
    padding: 20px;
    border-radius: 16px;
    border: 0.667px solid var(--glass-border);
    background: var(--glass-bg);
    box-shadow: var(--neon-shadow);
    .previeuws-btn{
        cursor: pointer;
        background: none;
        border: none;
        transform: rotateY(180deg);
        &:hover{
            background: transparent;
            box-shadow: var(--neon-shadow);
        }
    }
    .carouselImage{
        width: 75%;
        opacity: 0.4;
        background: url(https://images/hero.png) lightgray 50% / cover no-repeat;
        border-radius: var(--border-radius);
        border: 2px solid var(--neon-border);
        background: linear-gradient(180deg, #121218 0%, #1F1F28 100%);
    }
    .next-btn{
        cursor: pointer;
        background: none;
        border: none;
    }
    .carousel-container{
        text-align: center;
        .carousel-dots{
            display: flex;
            justify-self: center;
            gap: 12px;
            margin-top: 16px;
        }
        .dot{
            width: 10px;
            height: 8px;
            background-color: var(--neon-border);
            border-radius: 50%;
            cursor: pointer;
            transition: all 0.3s ease;
        }
        .dot.active{
            width: 32px;
            border-radius: 4px;
            background: var(--button-gradient);
        }
    }
}
// Footer
.app-footer{
    width: 100%;
}
// Responsive
@media (max-width: 768px){
    .card-wrapper{
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
}